<% provide :title, 'Contact' %>
<h1 class="text-3xl font-bold text-center">Contact</h1>
<p>
Contact the Ruby on Rails Tutorial about the sample app at the
<a href="https://www.railstutorial.org/contact">contact page</a>.
</p>
