<li class="border-b mb-2 pb-2">
  <div class="flex items-center">
    <div>
      <%= image_tag user_avatar_url(user, size: 50), class: 'h-16 w-16 p-1 rounded-full border' %>
    </div>
    <div class="pl-3">
      <%= link_to user.name, user, class: 'underline hover:no-underline' %>
    </div>
    <% if current_user.admin? && !current_user?(user) %>
        <span>
          <span class="px-3 text-red-600">|</span>
          <%= link_to 'delete', user, method: :delete, data: { confirm: 'Are you sure?' } , class: 'text-red-600 underline hover:no-underline' %>
        </span> 
    <% end %>
  </div>
</li>

