<% provide :title, 'Sign up' %>
<% provide :button_text, 'Create my account' %>

<h1 class="text-3xl font-bold text-center">Sign up</h1>

<div class="max-w-screen-md mx-auto pb-8">
  <div class="px-4 py-3 bg-gray-100 rounded-lg shadow-md">
    <%= render 'form' %>

   <div class="pt-3">
      <p class="text-xs">Already have an account? <%= link_to 'Log in', login_path, class: 'text-base pl-2' %></p>
    </div>
  </div>
</div>
