<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="flex flex-col p-1 rounded bg-red-200">
      <div class="py-1 bg-red-300 text-red-900">
        <span class="px-2">
          The form contains <%= pluralize(object.errors.count, 'error')%>
        </span>
      </div>

      <ul class="text-sm px-2 py-1 text-red-800">
        <% object.errors.full_messages.each do |msg| %>
          <li class="border-b border-red-600"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>

<% end %>
