<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <div class="pt-4">
    <%= will_paginate @feed_items, params: { controller: :static_pages, action: :home } %>
  </div>
<% end %>
