<% @user ||= current_user %>
<div class="stats flex p-2">
  <span class="p-2">
    <%= link_to following_user_path(@user), class: 'inline-block underline hover:no-underline' do %>
      <strong id="following" class="stat block">
        <%= @user.following.count %>
      </strong>
      <span class="block text-gray-600 text-sm">following</span>
    <% end %>
  </span>

  <span class="p-2 border-l-2">
    <%= link_to(followers_user_path(@user), class: "inline-block underline hover:no-underline") do %>
      <strong id="followers" class="stat block">
        <%= @user.followers.count %>
      </strong>
      <span class="block text-gray-600 text-sm">followers</span>
    <% end %>
  </span>
</div>
