<footer class="border-t pt-3">
  <div class="max-w-screen-lg mx-auto">
    <div class="flex items-center justify-between">
      <small class="inline-block">
        The <a class="underline hover:no-underline" href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a> by
        <a class="underline hover:no-underline" href="https://www.michaelhartl.com/">Michael Hartl</a>
      </small>

      <nav class="flex items-center">
        <%= link_to 'About', about_path, class: 'inline-block px-2 underline hover:no-underline' %>
        <%= link_to 'Contact', contact_path, class: 'inline-block px-2 underline hover:no-underline' %>
        <a class='inline-block px-2 underline hover:no-underline' href="https://news.railstutorial.org/">News</a>
      </nav>
    </div>
  </div>
</footer>
